.property-selector-container{
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding-left: 1vw;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2vw;
}


.propertys-selector-button {
  border: 1 solid;
  border-color:#e06344a7 ;
  border-radius: 5px;
  color: black;
  font-size: small;
  background-color: #fff;
  width: fit-content;
  margin: 5px;
  padding: 0.5vw;

}
.propertys-selector-button:hover {
  box-shadow: none;
  background-color: #e06344;
  color: #fff;


}

.property-selector-button-container {
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
}
