.property-selector-container{
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding-left: 1vw;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2vw;
}


.propertys-selector-button {
  color: white;
  font-size: small;
  background-color: #ff7654;
  width: fit-content;
  margin: 5px;
  padding: 0.5vw;
  border: 1px solid #ff7654;
  border-radius: 5%;

}

.propertys-selector-button:hover {
  box-shadow: none;
  background-color: white;
  color: #e06344;

}

.property-selector-button-container {
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
}